.cactus{
    background:url('../spritesheets/enemy_cactus.png') repeat-x;
    width: 150px;
    height: 116px;
    animation:mouth .5s steps(6) infinite;
}

@keyframes mouth {
    0% { background-position: 0 }
    100% { background-position: -930px }
}

.crow{
    background:url('../spritesheets/enemy_crow.png') repeat-x;
    width: 176px;
    height: 111px;
    animation:fly 1s steps(3) infinite;
}

@keyframes fly {
    0% { background-position: 0 }
    100% { background-position: -534px }
}

.dragon{
    background:url('../spritesheets/enemy_dragon.png') repeat-x;
    width: 190px;
    height: 110px;
    animation:marchd 1s steps(3) infinite;
}

@keyframes marchd {
    0% { background-position: 0 }
    100% { background-position: -575px }
}

.slime{
    background:url('../spritesheets/enemy_slime.png') repeat-x;
    width: 120px;
    height: 85px;
    animation:march 1s steps(6) infinite;
}

@keyframes march {
    0% { background-position: 0 }
    100% { background-position: -769px }
}