
html{
  height: 100vh;
}
body {
  margin:0;
  height: 100%;
  background:#000;
  background:url('../spritesheets/nfondo.jpg') center repeat-x;
  /* Posicionamos el mar, para que no solape al cielo */
  position:relative;
}

.bg-running{
  animation: movebg 20s linear infinite;
}


/* Animación para mover cielo y mar */
@keyframes movebg {
  0% { background-position:1920px } 
  100% { background-position:0 }
}