
html{
  height: 100vh;
}
body {
  margin:0;
  height: 100%;
  background:#000;
  background:url('../spritesheets/nfondo.jpg') center repeat-x;
  /* Posicionamos el mar, para que no solape al cielo */
  position:relative;
  background-size: cover;
}

.bg-running{
  animation: movebg 20s linear infinite;
}


/* Animación para mover cielo y mar */
@keyframes movebg {
  0% { background-position:1920px } 
  100% { background-position:0 }
}

.game_menu{
  width: 45%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: rgba(255,255,255,.8);
  border-radius: 20px;
}

li{
  display: inline;
}

ul{
  list-style-type: none;
  padding: 0;
}

.player-selection li img {
  margin-left: 20px;
  cursor: pointer;
}


.d-flex-row-centered{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.d-flex-col-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-centered{
  text-align: center;
}

.d-flex-row-right{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#coin{
  background:url('../spritesheets/coin.png') repeat-x;
  width: 50px;
  height: 50px;
  animation:flip 1s steps(6) infinite;
}

.game_over{
  width: 45%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: rgba(0,0,0,.8);
  border-radius: 20px;
  /*transicion para aparicion de div de game over*/
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.invisible{
  display: none;
  visibility: hidden;
}

.game_over div div h1{
  color: red;
  font-family: "Lucida Handwriting", cursive;
  font-size: 500%;
  
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes flip {
  0% { background-position: 0 }
  100% { background-position: -300px }
}