.navbar{
  border-bottom: 1px solid grey;
}

.banner-img-header{
  width: 45px;
  height: auto;
}

/* .navbar-icon{
  margin:3%;
} */

.bi-search{
  color: black;
}

.btn svg{
  width: 20px;
  height: auto;
}

.modal{
  margin-top: 20%;
}

.modal svg{
  position: absolute;
  color: white;
  background-color: violet;
  border-radius: 25px;
  height: auto;
  width: 40px;
  z-index: 10;
  right: 0;
  margin: 5%;
}

.list-inline-item{
  margin:0;
}
.list-inline-item:not(:last-child){
  margin:0;
}

.navbar-bottom{
  height: 50px;
}

.navbar-bottom a svg{
  height: auto;
  width: 25px;
}