body{
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  overflow-y: hidden;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover{
  color: #B908F8;
}

#colLeft{
  padding: 0;
}

#colMid{
  overflow-y: scroll;
  max-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
#colMid::-webkit-scrollbar {
  display: none;
}

.btn{
  border-radius: 25px;
}
.font-20{
  font-size: 20px;
}

*{
  font-size: 20px;
}

.color-principal{
  color:#09D035;
}

.color-principal-bg{
  background-color: #09D035;
}

.color-principal-suave{
  color:#54DE73;
}

.color-principal-suave-bg{
  background-color:#54DE73;
}

.color-secundario{
  background-color:#B908F8;
}

.color-secundario-suave-bg{
  background-color:#DD7BFF;
}

.color-secundario-suave-c{
  color:#DD7BFF;
}

.color-gris{
  color: #E4E4E4;
}

.bg-gris{
  background-color: #E4E4E4;
}

.color-rojo{
  color:red;
}

.color-rojo-bg{
  background-color: red;
}


.borderer{
  border-radius: 15px;
}

input{
  position: relative;
  flex: 1 1 auto;
  width: 100%;
  min-width: 0;
  outline: none;
  height: 40px;
}

.btn{
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24.0217px;
  line-height: 28px;
  font-feature-settings: 'liga' off;
  mix-blend-mode: normal;
}

.search-input{
  text-indent: 10%;
}

.post{
  margin-bottom: 15px;
}

.post p{
  font-size: 17px;
}

.post input{
  text-indent: 2%;
}

.post-reaction-list ul{
  margin-bottom: 3px;
  margin-left: 3px;
}

ul{
  list-style: none;
}

.emoji-list, li svg{
  font-size:20px;
  cursor: pointer;
}

.list-nav svg{
  width: 33px;
}

.img{
  width: 50px;
  height: 50px;
}

/* .banner-post{
  height: 15px;
} */

.search-bar svg, .banner-post svg, .list-nav svg{
  height: auto;
}

.banner-user svg{
  height: 47px;
}

.banner-user svg.exit-logo{
  height: 35px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.banner-post svg{
  width: 20px;
}

.search-bar svg{
  width: 24px;
  z-index: 2;
  margin-left: 3%;
}

.banner-user span{
  margin-top: auto;
  margin-bottom: auto;
}

.list-nav li{
  margin-bottom: 15px;
}

.list-nav li span{
  cursor:pointer;
}
.p-7-px{
  padding:7px
}

.updownvote{
  height: auto;
  width: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.font-bold{
  font-weight: bold;
}