* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
  }

#element {
    position:absolute;
    top: 20px;
    border: solid 1px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    left: 305px;
    background-color:red;
    animation: drop 2000ms ease forwards;
    animation-iteration-count:infinite;
}

@keyframes drop{
    0%{opacity: 0}
    70%{transform: translateY(665px)}
    100%{transform: translateY(660px)}
  }